<% if logged_in? %>
  <h1>welcome, <%= current_user.firstname + " " + current_user.lastname %></h1>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>

| <%= link_to "All posts", posts_path %>
| <%= link_to "All playlists", playlists_path %>
| <%= link_to "All videos", videos_path %>
| <%= link_to "Friends", "#" %>